In [6]:
import sqlite3
import pandas as pd
import numpy as np
import sys
import matplotlib.pyplot as plt
import scipy

In [2]:
ms1_df = pd.read_pickle('/Users/darylwilding-mcbride/Downloads/ms1_df.pkl')

In [3]:
ms1_df

,monoisotopic_mass,charge,monoisotopic_mz,intensity,scan_apex,scan_curve_fit,rt_apex,rt_curve_fit,precursor_id,ms2_frames
0,1883.719142,2,942.363197,2199,369.013132,True,3030.77,True,93055,[28216]
1,1883.743180,2,942.375217,18581,369.442937,True,3030.77,True,93055,[28216]
0,2371.020707,2,1186.013980,1134,234.065295,True,3029.59,True,93064,[28216]
1,2371.043171,2,1186.025212,7011,232.833270,True,3030.77,True,93064,[28216]
2,2371.067953,2,1186.037603,30606,233.075351,True,3030.77,True,93064,[28216]
3,2371.094563,2,1186.050908,12820,232.897141,True,3030.77,True,93064,[28216]
4,2371.114160,2,1186.060706,2743,233.979245,True,3030.77,True,93064,[28216]

In [8]:
dm = scipy.spatial.distance.pdist(X, lambda u, v: np.sqrt(((u-v)**2).sum()))

NameError: name 'X' is not defined

In [11]:
X = ms1_df[['monoisotopic_mz','scan_apex','rt_apex']]

In [13]:
X.values

array([[ 942.36319744,  369.01313168, 3030.77      ],
       [ 942.37521652,  369.44293734, 3030.77      ],
       [1186.01397978,  234.0652949 , 3029.59      ],
       [1186.02521197,  232.83326969, 3030.77      ],
       [1186.03760316,  233.07535067, 3030.77      ],
       [1186.05090791,  232.89714064, 3030.77      ],
       [1186.06070635,  233.97924451, 3030.77      ]])