In [1]:
import pandas as pd
import sqlite3
import numpy as np
import matplotlib.pyplot as plt

In [29]:
mscypher_filename = "/home/ubuntu/UPS2_allion/MSCypher.txt"
mscypher_df = pd.read_table(mscypher_filename, sep="\t", dtype="str", engine='python')
feature_id=23
DB_NAME = "/home/ubuntu/UPS2_allion/UPS2_allion-features-1-1097.sqlite"

In [30]:
# convert the numeric fields and sort the features by their score
mscypher_df = mscypher_df.apply(pd.to_numeric, errors='ignore').sort_values(by=['FeatureNum','DiggerPepScore'], ascending=False)

In [31]:
# remove feature-duplicates from the MSC output, keeping the highest score
mscypher_df.drop_duplicates(subset=['FeatureNum'], keep='first', inplace=True)

In [32]:
mscypher_df.head()

,QueryNum,Target,Rank,NumPrecMatches,PepIDConsensus,PepPIF,MS2PIF,NumScoringFragIonMatches,NumScoringFragIonPeaks,PercentSimilarity,...,EndPos,PreRes,PostRes,EnzymeSpecificity,ProteinLength,AccNums,FastaEntryNum,UniqueID,deltaCn,XCorr
15158,15031,Target,1,0,30,0.0,0.0,0,0,-1.0,...,nan,nan,nan,nan,nan,nan,nan,21019,-1.0,0.0
5484,5420,Target,1,0,30,0.0,0.0,0,0,-1.0,...,nan,nan,nan,nan,nan,nan,nan,21018,-1.0,0.0
17443,17301,Target,1,0,30,0.0,0.0,0,0,-1.0,...,nan,nan,nan,nan,nan,nan,nan,21017,-1.0,0.0
16605,16465,Target,1,0,30,0.0,0.0,0,0,-1.0,...,nan,nan,nan,nan,nan,nan,nan,21016,-1.0,0.0
16592,16452,Target,1,0,30,0.0,0.0,0,0,-1.0,...,nan,nan,nan,nan,nan,nan,nan,21015,-1.0,0.0

In [33]:
len(mscypher_df)

19617

In [34]:
mscypher_df.columns.tolist()

['QueryNum',
 'Target',
 'Rank',
 'NumPrecMatches',
 'PepIDConsensus',
 'PepPIF',
 'MS2PIF',
 'NumScoringFragIonMatches',
 'NumScoringFragIonPeaks',
 'PercentSimilarity',
 'PepSeq',
 'deNovoSeq',
 'rnkScr',
 'pnvScr',
 'EludePepSeq',
 'VMLScore',
 'Mods',
 'NumMods',
 'NumPhosphos',
 'PhosphoMods',
 'DiggerPepScore',
 'DiggerPepHomologyScore',
 'PercolatorQValue',
 'PercolatorPEP',
 'FeatureIntensityAUC',
 'ObsRtMS2',
 'ObsRtApex',
 'PredRt',
 'MZ',
 'Charge',
 'ExpMassDa',
 'PepMassDa',
 'DeltaMassDa',
 'DeltaMassPPM',
 'C13',
 'NumDataPoints',
 'NumScans',
 'NumIsotopePeaks',
 'FileName',
 'MS2Scan',
 'RMSErrorPPM',
 'RMSErrorNumMatches',
 'TIC',
 'CompBondCleavage',
 'DeltaScore',
 'DeltaRt',
 'ChimericStatus',
 'FeatureNum',
 'MissedCleavages',
 'RPMS',
 'SVMScore',
 'SVMResult',
 'SVMSig',
 'RFFeatureScore',
 'RFPSMScore',
 'ModPepID',
 'Rawfilename',
 'RFRank',
 'RFFeatureFDR',
 'RFPsmFDR',
 'TargetVotes',
 'DecoyVotes',
 'RFPrediction',
 'MAErrorPPM',
 'AltDeltaScore',
 'FragMZ',
 'FragInt',
 'FragError',
 'FragIonTypes',
 'FragPos',
 'FragCharge',
 'a',
 'b',
 'b-18',
 'b-17',
 'b++',
 'b++-18',
 'b++-17',
 'y',
 'y-18',
 'y-17',
 'y++',
 'y++-18',
 'y++-17',
 'imm',
 'YB',
 'YA',
 'c',
 'c++',
 'z+1',
 'z+1++',
 'z+2',
 'z+2++',
 'Intensity a',
 'Intensity b',
 'Intensity b-18',
 'Intensity b-17',
 'Intensity b++',
 'Intensity b++-18',
 'Intensity b++-17',
 'Intensity y',
 'Intensity y-18',
 'Intensity y-17',
 'Intensity y++',
 'Intensity y++-18',
 'Intensity y++-17',
 'Intensity imm',
 'Intensity YB',
 'Intensity YA',
 'Intensity c',
 'Intensity c++',
 'Intensity z+1',
 'Intensity z+1++',
 'Intensity z+2',
 'Intensity z+2++',
 'Count a',
 'Count b',
 'Count b-18',
 'Count b-17',
 'Count b++',
 'Count b++-18',
 'Count b++-17',
 'Count y',
 'Count y-18',
 'Count y-17',
 'Count y++',
 'Count y++-18',
 'Count y++-17',
 'Count imm',
 'Count YB',
 'Count YA',
 'Count c',
 'Count c++',
 'Count z+1',
 'Count z+1++',
 'Count z+2',
 'Count z+2++',
 'StartPos',
 'EndPos',
 'PreRes',
 'PostRes',
 'EnzymeSpecificity',
 'ProteinLength',
 'AccNums',
 'FastaEntryNum',
 'UniqueID',
 'deltaCn',
 'XCorr']

In [35]:
msc_subset_df = mscypher_df[["DiggerPepScore", "FeatureNum", "FragMZ", "FragInt", "FragError", "FragIonTypes", "FragPos", "FragCharge", "DeltaMassDa", "DeltaMassPPM"]].copy()

In [36]:
msc_subset_df.head()

,DiggerPepScore,FeatureNum,FragMZ,FragInt,FragError,FragIonTypes,FragPos,FragCharge,DeltaMassDa,DeltaMassPPM
15158,0.0,21928,0.000000,0.000000,0.000000,x;x,0,0,0.0,0.0
5484,0.0,21927,0.000000,0.000000,0.000000,x;x,0,0,0.0,0.0
17443,0.0,21926,0.000000,0.000000,0.000000,x;x,0,0,0.0,0.0
16605,0.0,21925,0.000000,0.000000,0.000000,x;x,0,0,0.0,0.0
16592,0.0,21924,0.000000,0.000000,0.000000,x;x,0,0,0.0,0.0

In [37]:
msc_subset_df[msc_subset_df.FeatureNum==feature_id]

,DiggerPepScore,FeatureNum,FragMZ,FragInt,FragError,FragIonTypes,FragPos,FragCharge,DeltaMassDa,DeltaMassPPM
9849,0.0,23,0.000000,0.000000,0.000000,x;x,0,0,0.0,0.0

In [56]:
db_conn = sqlite3.connect(DB_NAME)
ms2_peaks_df = pd.read_sql_query("select feature_id,peak_id,centroid_mz,intensity from deconvoluted_ions where feature_id={}".format(feature_id), db_conn)
db_conn.close()

In [57]:
ms2_peaks_df.head()

   feature_id  peak_id  centroid_mz  intensity
0          23      166      201.122     182097
1          23      798      229.117      34762
2          23    11827      229.119      20207
3          23    13963      234.150      18504
4          23      275      235.107     112724

In [58]:
msc_fragments_df = pd.DataFrame([], columns=['FragMZ', 'FragInt', 'FragError', 'FragIonTypes', 'FragPos', 'FragCharge'])

In [59]:
msc_fragments_df

Empty DataFrame
Columns: [FragMZ, FragInt, FragError, FragIonTypes, FragPos, FragCharge]
Index: []

In [42]:
# break out the fragments reported by MSC for this feature
msc_fragments = msc_subset_df[msc_subset_df.FeatureNum==feature_id].iloc[0]
msc_fragments

DiggerPepScore           0
FeatureNum              23
FragMZ            0.000000
FragInt           0.000000
FragError         0.000000
FragIonTypes           x;x
FragPos                  0
FragCharge               0
DeltaMassDa              0
DeltaMassPPM             0
Name: 9849, dtype: object

In [43]:
FragMZ = list(map(float, msc_fragments.FragMZ.split(';')))
FragInt = list(map(float, msc_fragments.FragInt.split(';')))
FragError = list(map(float, msc_fragments.FragError.split(';')))
FragIonTypes = list(map(str, msc_fragments.FragIonTypes.split(';')))
FragPos = list(map(int, msc_fragments.FragPos.split(';')))
FragCharge = list(map(int, msc_fragments.FragCharge.split(';')))

In [44]:
msc_fragments_df = pd.DataFrame(list(zip(FragMZ, FragInt, FragError, FragIonTypes, FragPos, FragCharge)), columns=['FragMZ', 'FragInt', 'FragError', 'FragIonTypes', 'FragPos', 'FragCharge'])

In [45]:
msc_fragments_df

   FragMZ  FragInt  FragError FragIonTypes  FragPos  FragCharge
0     0.0      0.0        0.0            x        0           0

In [46]:
# round the join column to match the ms2 peaks with the fragments reported by MSC
msc_fragments_df["FragMZ_round"] = msc_fragments_df.FragMZ.round(3)
ms2_peaks_df["centroid_mz_round"] = ms2_peaks_df.centroid_mz.round(3)

In [47]:
# match up the ms2 peaks with the fragments reported by MSC
ms2_peaks_msc_fragments_df = pd.merge(ms2_peaks_df, msc_fragments_df, how='left', left_on=['centroid_mz_round'], right_on=['FragMZ_round'])

In [48]:
ms2_peaks_msc_fragments_df

,feature_id,peak_id,centroid_mz,intensity,centroid_mz_round,FragMZ,FragInt,FragError,FragIonTypes,FragPos,FragCharge,FragMZ_round
0,23,1,588.361,8997131,588.361,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,23,2,861.007,10594937,861.007,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,23,3,861.508,10319433,861.508,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23,4,775.952,8247937,775.952,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23,5,776.454,7359559,776.454,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,23,6,588.862,6130181,588.862,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,23,7,641.379,5337905,641.379,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,23,8,862.008,5489020,862.008,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,23,9,641.045,4903578,641.045,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,23,10,641.713,3218387,641.713,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,23,11,776.954,3477017,776.954,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,23,12,912.030,3420245,912.030,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,23,13,1175.716,3680533,1175.716,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,23,14,911.528,3242190,911.528,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,23,15,718.437,2980800,718.437,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,23,16,608.356,2622281,608.356,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,23,17,718.939,2553661,718.939,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,23,18,608.021,2525223,608.021,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,23,19,343.233,1894881,343.233,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,23,20,644.903,2526658,644.903,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,23,21,589.364,2362835,589.364,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,23,22,645.404,1871002,645.404,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,23,1176.718,2461137,1176.718,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,24,771.497,2021376,771.497,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,23,26,433.207,1643456,433.207,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,23,27,635.375,1909527,635.375,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,23,28,546.291,1645687,546.291,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,23,29,862.508,2033980,862.508,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,23,30,635.040,1763284,635.040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,23,31,912.531,1895381,912.531,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
9327,23,25320,1395.353,105,1395.353,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9328,23,25322,608.144,9277,608.144,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9329,23,25323,458.023,1481,458.023,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9330,23,25325,242.565,105,242.565,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9331,23,25326,289.735,105,289.735,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9332,23,25327,386.530,105,386.530,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9333,23,25336,345.037,396,345.037,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9334,23,25340,316.517,105,316.517,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9335,23,25344,203.036,105,203.036,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9336,23,25355,273.099,105,273.099,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9337,23,25357,406.337,230,406.337,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9338,23,25370,1083.111,105,1083.111,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9339,23,25371,1059.152,240,1059.152,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9340,23,25373,283.632,105,283.632,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9341,23,25379,978.607,755,978.607,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9342,23,25389,405.500,1072,405.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9343,23,25391,1138.785,816,1138.785,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9344,23,25395,375.368,100,375.368,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9345,23,25396,1742.915,100,1742.915,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9346,23,25397,404.580,100,404.580,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9347,23,25398,1406.835,255,1406.835,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9348,23,25402,259.788,100,259.788,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9349,23,25403,372.829,4141,372.829,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9350,23,25406,235.779,100,235.779,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9351,23,25409,1488.628,100,1488.628,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9352,23,25425,1476.668,100,1476.668,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9353,23,25434,957.853,1566,957.853,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9354,23,25435,276.324,100,276.324,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9355,23,25439,1431.346,100,1431.346,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9356,23,25443,533.150,2474,533.150,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
ms2_peaks_msc_fragments_df[ms2_peaks_msc_fragments_df.FragMZ.notnull()]

Empty DataFrame
Columns: [feature_id, peak_id, centroid_mz, intensity, centroid_mz_round, FragMZ, FragInt, FragError, FragIonTypes, FragPos, FragCharge, FragMZ_round]
Index: []

In [50]:
db_conn = sqlite3.connect(DB_NAME)
feature_list_df = pd.read_sql_query("select * from feature_list", db_conn)
db_conn.close()

In [51]:
feature_list_df.head()

,feature_id,charge_state,monoisotopic_mass,retention_time_secs,isotope_count,cluster_mz_centroid,cluster_summed_intensity,minimum_error,minimum_error_sulphur
0,1,2,1066.606152,590.4,6,534.310352,1985980902,1.647301e-01,0
1,2,3,1928.009933,535.6,7,643.677254,2425291014,7.140533e-06,0
2,3,3,2044.113664,1023.2,7,682.378497,2881543763,1.953337e-07,2
3,4,2,1741.892439,720.6,6,871.953496,1248224845,9.673931e-03,2
4,5,3,1927.994175,536.2,8,643.672001,461668922,1.976963e-05,0

In [52]:
# isolate the feature-level attributes reported by MSC
msc_feature_df = msc_subset_df[["FeatureNum","DiggerPepScore","DeltaMassDa","DeltaMassPPM"]]
msc_feature_df.head()

       FeatureNum  DiggerPepScore  DeltaMassDa  DeltaMassPPM
15158       21928             0.0          0.0           0.0
5484        21927             0.0          0.0           0.0
17443       21926             0.0          0.0           0.0
16605       21925             0.0          0.0           0.0
16592       21924             0.0          0.0           0.0

In [53]:
# annotate the features with the attributes reported by MSC.
# msc_DiggerPepScore of zero or more is what MSC reported. NaN means MSC didn't report the feature at all
feature_list_msc_df = pd.merge(feature_list_df, msc_feature_df, how='left', left_on=['feature_id'], right_on=['FeatureNum'])
feature_list_msc_df.drop(['FeatureNum'], inplace=True, axis=1)
feature_list_msc_df.rename(columns={'DiggerPepScore': 'msc_DiggerPepScore', 'DeltaMassDa': 'msc_DeltaMassDa', 'DeltaMassPPM': 'msc_DeltaMassPPM'}, inplace=True)

In [54]:
feature_list_msc_df.head()

,feature_id,charge_state,monoisotopic_mass,retention_time_secs,isotope_count,cluster_mz_centroid,cluster_summed_intensity,minimum_error,minimum_error_sulphur,msc_DiggerPepScore,msc_DeltaMassDa,msc_DeltaMassPPM
0,1,2,1066.606152,590.4,6,534.310352,1985980902,1.647301e-01,0,0.000,0.000000,0.000
1,2,3,1928.009933,535.6,7,643.677254,2425291014,7.140533e-06,0,29.583,0.009592,4.975
2,3,3,2044.113664,1023.2,7,682.378497,2881543763,1.953337e-07,2,NaN,NaN,NaN
3,4,2,1741.892439,720.6,6,871.953496,1248224845,9.673931e-03,2,320.189,-0.007459,-4.282
4,5,3,1927.994175,536.2,8,643.672001,461668922,1.976963e-05,0,0.000,0.000000,0.000

In [55]:
feature_list_msc_df[feature_list_msc_df.msc_DiggerPepScore >= 0].head()

,feature_id,charge_state,monoisotopic_mass,retention_time_secs,isotope_count,cluster_mz_centroid,cluster_summed_intensity,minimum_error,minimum_error_sulphur,msc_DiggerPepScore,msc_DeltaMassDa,msc_DeltaMassPPM
0,1,2,1066.606152,590.4,6,534.310352,1985980902,0.164730,0,0.000,0.000000,0.000
1,2,3,1928.009933,535.6,7,643.677254,2425291014,0.000007,0,29.583,0.009592,4.975
3,4,2,1741.892439,720.6,6,871.953496,1248224845,0.009674,2,320.189,-0.007459,-4.282
4,5,3,1927.994175,536.2,8,643.672001,461668922,0.000020,0,0.000,0.000000,0.000
9,10,2,986.560834,790.0,6,494.287693,1855507701,0.020531,0,38.209,-0.003978,-4.032