In [44]:
import sqlite3
import pandas as pd
import numpy as np
import sys
import matplotlib.pyplot as plt

In [45]:
ms1_features_df = pd.read_csv('/Users/darylwilding-mcbride/Downloads/HeLa_20KInt-feature-characteristics.csv')

In [46]:
len(ms1_features_df)

72970

In [47]:
ms1_features_df.rt_apex.min(), ms1_features_df.rt_apex.max()

(4345.07, 4570.72)

In [48]:
# +/- these amounts
MZ_TOLERANCE_PPM = 5
MZ_TOLERANCE_PERCENT = MZ_TOLERANCE_PPM * 10**-4
SCAN_TOLERANCE = 10
RT_TOLERANCE = 0.1

In [84]:
scratch_df = ms1_features_df.copy() # take a copy because we're going to delete stuff

In [92]:
ms1_features_l = []
for i in range(20):
# while len(scratch_df) > 0:
    # take the first row
    row = scratch_df.iloc[0]
    mz = row.monoisotopic_mz
    scan = row.scan_apex
    rt = row.rt_apex

    # calculate the matching bounds
    mz_ppm_tolerance = mz * MZ_TOLERANCE_PERCENT / 100
    mz_lower = mz - mz_ppm_tolerance
    mz_upper = mz + mz_ppm_tolerance
    scan_lower = scan - SCAN_TOLERANCE
    scan_upper = scan + SCAN_TOLERANCE
    rt_lower = rt - RT_TOLERANCE
    rt_upper = rt + RT_TOLERANCE
    
    # find the matches within these tolerances
    cond_1 = (scratch_df.monoisotopic_mz >= mz_lower) & (scratch_df.monoisotopic_mz <= mz_upper) & (scratch_df.scan_apex >= scan_lower) & (scratch_df.scan_apex <= scan_upper) & (scratch_df.rt_apex >= rt_lower) & (scratch_df.rt_apex <= rt_upper)
    matching_rows = scratch_df.loc[cond_1, :]
    # of those, find the most intense
    cond_2 = (matching_rows.intensity == matching_rows.intensity.max())
    most_intense_row = matching_rows.loc[cond_2, :].copy()
    most_intense_row['duplicates'] = len(matching_rows)
    # add it to the list
    ms1_features_l.append(tuple(most_intense_row.iloc[0]))
    # drop the duplicates
    scratch_df.drop(matching_rows.index, inplace=True)

In [93]:
ms1_features_l

[(1856.8879379999998,
  2,
  928.9475954151453,
  3028,
  349.4534121536828,
  True,
  4367.53,
  True,
  148945,
  1),
 (904.9775210000001,
  1,
  904.9774977427787,
  1355,
  368.3106423777565,
  False,
  4386.48,
  True,
  148946,
  1),
 (905.467474,
  1,
  905.4674504043717,
  3063,
  366.95249815274263,
  True,
  4380.57,
  True,
  148946,
  1),
 (1803.7140420000003,
  2,
  902.3606476060656,
  3210,
  365.0101129422561,
  True,
  4369.89,
  True,
  148946,
  1),
 (1803.911232,
  2,
  902.4592423814943,
  2319,
  379.50902777777776,
  False,
  4363.99,
  True,
  148946,
  1),
 (1804.950345,
  2,
  902.9787989755637,
  15719,
  363.66569667921937,
  False,
  4388.85,
  True,
  148946,
  2),
 (1806.961693,
  2,
  903.9844730125074,
  2561,
  362.9440617249931,
  False,
  4388.85,
  True,
  148946,
  1),
 (1380.646591,
  2,
  690.8269220662338,
  143074,
  506.91032272273185,
  True,
  4367.53,
  True,
  148947,
  2),
 (1381.149547,
  2,
  691.0784002159912,
  10358,
  529.4961925816751,
  False,
  4366.35,
  True,
  148947,
  1),
 (1382.673457,
  2,
  691.8403550617195,
  11273,
  508.89491666666675,
  False,
  4380.57,
  True,
  148947,
  1),
 (1382.7731,
  2,
  691.8901764677454,
  7326,
  507.5241873804972,
  False,
  4368.71,
  True,
  148947,
  1),
 (2069.96473,
  3,
  690.6597532472169,
  71900,
  475.0711787217346,
  True,
  4365.16,
  True,
  148947,
  2),
 (2759.344549,
  4,
  690.5915886716583,
  4688,
  495.5862532039935,
  True,
  4368.71,
  True,
  148947,
  1),
 (1504.673045,
  3,
  502.22919144140417,
  22585,
  720.2329992456082,
  False,
  4367.53,
  True,
  148948,
  1),
 (1057.517987,
  2,
  529.2626200471785,
  3944,
  601.8617672790901,
  False,
  4374.67,
  True,
  148949,
  1),
 (1057.5690960000002,
  2,
  529.2881745603779,
  371844,
  592.8400503754324,
  True,
  4373.49,
  True,
  149085,
  2),
 (1057.850124,
  2,
  529.4286882588589,
  1263,
  591.807899286448,
  True,
  4373.49,
  True,
  149085,
  2),
 (1057.9398039999999,
  2,
  529.473528700581,
  3444,
  591.9111331415987,
  True,
  4372.25,
  True,
  149085,
  2),
 (1057.968828,
  2,
  529.4880406026723,
  2877,
  593.0155957446552,
  True,
  4373.49,
  True,
  149085,
  2),
 (1059.551375,
  2,
  530.2793138098494,
  2339,
  592.6739614776226,
  True,
  4372.25,
  True,
  148949,
  1)]

In [94]:
cols = scratch_df.columns.append(pd.Index(['duplicates']))

In [95]:
cols

Index(['monoisotopic_mass', 'charge', 'monoisotopic_mz', 'intensity',
       'scan_apex', 'scan_curve_fit', 'rt_apex', 'rt_curve_fit',
       'precursor_id', 'duplicates'],
      dtype='object')

In [96]:
ms1_peaks_df = pd.DataFrame(ms1_features_l, columns=cols)

In [97]:
ms1_peaks_df

,monoisotopic_mass,charge,monoisotopic_mz,intensity,scan_apex,scan_curve_fit,rt_apex,rt_curve_fit,precursor_id,duplicates
0,1856.887938,2,928.947595,3028,349.453412,True,4367.53,True,148945,1
1,904.977521,1,904.977498,1355,368.310642,False,4386.48,True,148946,1
2,905.467474,1,905.467450,3063,366.952498,True,4380.57,True,148946,1
3,1803.714042,2,902.360648,3210,365.010113,True,4369.89,True,148946,1
4,1803.911232,2,902.459242,2319,379.509028,False,4363.99,True,148946,1
5,1804.950345,2,902.978799,15719,363.665697,False,4388.85,True,148946,2
6,1806.961693,2,903.984473,2561,362.944062,False,4388.85,True,148946,1
7,1380.646591,2,690.826922,143074,506.910323,True,4367.53,True,148947,2
8,1381.149547,2,691.078400,10358,529.496193,False,4366.35,True,148947,1
9,1382.673457,2,691.840355,11273,508.894917,False,4380.57,True,148947,1
10,1382.773100,2,691.890176,7326,507.524187,False,4368.71,True,148947,1
11,2069.964730,3,690.659753,71900,475.071179,True,4365.16,True,148947,2
12,2759.344549,4,690.591589,4688,495.586253,True,4368.71,True,148947,1
13,1504.673045,3,502.229191,22585,720.232999,False,4367.53,True,148948,1
14,1057.517987,2,529.262620,3944,601.861767,False,4374.67,True,148949,1
15,1057.569096,2,529.288175,371844,592.840050,True,4373.49,True,149085,2
16,1057.850124,2,529.428688,1263,591.807899,True,4373.49,True,149085,2
17,1057.939804,2,529.473529,3444,591.911133,True,4372.25,True,149085,2
18,1057.968828,2,529.488041,2877,593.015596,True,4373.49,True,149085,2
19,1059.551375,2,530.279314,2339,592.673961,True,4372.25,True,148949,1