In [3]:
import pandas as pd
import pickle
import tempfile
import zipfile
import json

In [4]:
# loads the metadata, ms1 points from the specified zip file
def load_precursor_cuboid_zip_ms1(filename):
    temp_dir = tempfile.TemporaryDirectory().name
    with zipfile.ZipFile(filename, "r") as zf:
        zf.extractall(path=temp_dir)
        names = zf.namelist()
        with open('{}/{}'.format(temp_dir, names[0])) as json_file:
            metadata = json.load(json_file)
        ms1_df = pd.read_pickle('{}/{}'.format(temp_dir, names[1]))
    return (metadata, ms1_df)

In [19]:
precursor_id = 50040

In [20]:
precursor_metadata, ms1_points_df = load_precursor_cuboid_zip_ms1('/Users/darylwilding-mcbride/Downloads/experiments/test/precursor-cuboids/190719_Hela_Ecoli_1to1_01/190719_Hela_Ecoli_1to1_01-precursor-{}.zip'.format(precursor_id))

In [21]:
precursor_metadata

{'precursor_id': 50040,
 'window_mz_lower': 883.178214084962,
 'window_mz_upper': 887.578214084962,
 'wide_mz_lower': 882.1748590849619,
 'wide_mz_upper': 887.578214084962,
 'window_scan_width': 25,
 'fe_scan_lower': 462,
 'fe_scan_upper': 487,
 'wide_scan_lower': 437,
 'wide_scan_upper': 512,
 'wide_rt_lower': 798.8779865556857,
 'wide_rt_upper': 818.8779865556857,
 'wide_frame_lower': 7474,
 'wide_frame_upper': 7659,
 'number_of_windows': 1}

In [22]:
ms1_points_df.head()

   frame_id  frame_type          mz  scan  intensity  retention_time_secs
0      7474         0.0  882.385290   439         58            798.77859
1      7474         0.0  882.394606   445         52            798.77859
2      7474         0.0  882.394606   449         87            798.77859
3      7474         0.0  882.394606   450         27            798.77859
4      7474         0.0  882.408581   443         67            798.77859

In [23]:
fe_raw_points_df = ms1_points_df[(ms1_points_df.mz >= precursor_metadata['window_mz_lower']) & (ms1_points_df.mz <= precursor_metadata['window_mz_upper'])]

In [24]:
fe_raw_points_df.head()

    frame_id  frame_type          mz  scan  intensity  retention_time_secs
25      7474         0.0  883.363784   437         42            798.77859
26      7474         0.0  883.377767   443         48            798.77859
27      7474         0.0  883.396410   440         24            798.77859
28      7474         0.0  883.424376   438         70            798.77859
29      7474         0.0  883.895194   437         79            798.77859

In [27]:
feature_df = pd.read_pickle('/Users/darylwilding-mcbride/Downloads/experiments/test/features/190719_Hela_Ecoli_1to1_01/190719_Hela_Ecoli_1to1_01-features-precursor-{}.pkl'.format(precursor_id))

In [28]:
feature_df

,candidate_phr_error,charge,envelope,intensity,intensity_full_rt_extent,mono_adjusted,monoisotopic_mz,original_phr,original_phr_error,precursor_id,rt_apex,rt_curve_fit,rt_lower,rt_upper,scan_apex,scan_curve_fit,scan_lower,scan_upper,monoisotopic_mass
0,-0.927812,1,"((884.1343, 266.00), (885.1219, 343.00), (886....",609.000000,266,False,884.134332,1.289474,1.730932,50040,815.15,False,798.88,818.88,502.98,False,437.00,512.00,883.127032
1,3.384223,2,"((884.3782, 12968.00), (884.8770, 42128.00), (...",93516.000000,11680,False,884.375905,3.248612,2.410160,50040,808.65,True,798.22,819.09,472.40,True,422.62,522.18,1766.737210
2,-0.033795,2,"[(885.379556507406, 44118.199408121545), (885....",188643.199408,32219,True,885.381880,1.165151,0.220983,50040,808.93,True,805.24,812.62,469.11,True,421.92,516.29,1768.749160

In [29]:
fragment_ions_df = pd.read_pickle('/Users/darylwilding-mcbride/Downloads/experiments/test/fragment-ions/190719_Hela_Ecoli_1to1_01/190719_Hela_Ecoli_1to1_01-fragment-ions-precursor-{}.pkl'.format(precursor_id))

In [30]:
fragment_ions_df

      precursor         mz  charge     intensity       score           SN
0         50040   191.5731       1    134.000000   11.575837   134.000000
1         50040   195.0833       1    105.000000   10.246951   105.000000
2         50040   195.1227       1    130.000000   11.401754   130.000000
3         50040   197.1332       1    404.000000   20.099751   404.000000
4         50040   199.0555       1    195.000000   13.964240   195.000000
5         50040   199.0864       1    219.000000   14.798649   219.000000
6         50040   199.1877       1    271.000000   16.462078   271.000000
7         50040   200.0637       1    228.000000   15.099669   228.000000
8         50040   200.1167       1    184.000000   13.564660   184.000000
9         50040   201.1282       1    179.000000   13.379088   179.000000
10        50040   203.0743       1     95.000000    9.746794    95.000000
11        50040   203.0854       1     93.000000    9.643651    93.000000
12        50040   203.1268       1    410.000000   20.248457   410.000000
13        50040   204.1400       1    431.000000   20.760539   431.000000
14        50040   206.6247       1     96.000000    9.797959    96.000000
15        50040   207.1176       1    262.000000   16.186414   262.000000
16        50040   208.0766       1    104.000000   10.198039   104.000000
17        50040   209.1449       1    306.000000   17.492856   306.000000
18        50040   210.1014       1    107.000000   10.344080   107.000000
19        50040   210.1334       1     85.000000    9.219544    85.000000
20        50040   211.0776       1     90.000000    9.486833    90.000000
21        50040   211.1497       1    492.000000   22.181073   492.000000
22        50040   212.0159       1     86.000000    9.273618    86.000000
23        50040   212.0743       1     81.000000    9.000000    81.000000
24        50040   212.1076       1    712.000000   26.683328   712.000000
25        50040   213.0688       1     68.000000    8.246211    68.000000
26        50040   213.1100       1     76.000000    8.717798    76.000000
27        50040   213.1627       1    120.000000   10.954451   120.000000
28        50040   214.1052       1    223.000000   14.933185   223.000000
29        50040   214.1218       1    204.000000   14.282857   204.000000
...         ...        ...     ...           ...         ...          ...
3206      50040  2804.3185       2     87.504264    9.843458    50.666667
3207      50040  2832.4502       2    113.725091   14.753700    36.000000
3208      50040  2836.3845       2    203.000000   17.597511    67.666667
3209      50040  2845.3228       2    412.000000   21.613666   137.333333
3210      50040  2958.4172       2    155.000000   16.796832    38.750000
3211      50040  2959.2983       2    242.000000   22.542960    60.500000
3212      50040  3119.3643       3   3426.000000   85.513677   856.500000
3213      50040  3120.4002       3  28993.000000  244.362308  7248.250000
3214      50040  3121.4399       3   4311.000000  108.646609  1077.750000
3215      50040  3353.8381       3    366.000000   18.911933   122.000000
3216      50040  3362.7642       3    197.000000    8.067662    65.666667
3217      50040  3503.8374       3    803.000000   17.660319   267.666667
3218      50040  3521.6265       3    235.000000   16.744002    78.333333
3219      50040  3705.9717       3     68.743908    8.788354    27.500000
3220      50040  3719.0032       3    287.000000   19.078851    57.400000
3221      50040  3738.7344       3     95.000000   10.258937    23.750000
3222      50040  3829.7370       3     64.000000    9.961890    16.000000
3223      50040  3835.6751       3    132.000000    9.758819    33.000000
3224      50040  3842.8303       3    315.000000   13.399725    78.750000
3225      50040  3847.9608       3    160.000000   13.658272    40.000000
3226      50040  3954.2578       3    273.000000   22.242164    54.600000
3227      50040  4128.0742       3     83.000000   10.074644    20.750000
3228      50040  4276.1598       3     87.000000    8.327793    21.750000
3229      50040  4405.7378       3    115.000000   10.844687    28.750000
3230      50040  4703.6449       4    270.000000   13.669641    67.500000
3231      50040  4719.7845       4     92.000000   10.300137    23.000000
3232      50040  4881.3461       4    478.000000   32.020688    95.600000
3233      50040  5590.0988       5    242.000000   23.809680    48.400000
3234      50040  5612.1405       5    550.000000   25.740671   110.000000
3235      50040  5636.3068       5    525.000000   34.920667   105.000000

[3236 rows x 6 columns]