In [3]:
import pandas as pd
import pickle
import tempfile
import zipfile
import json

In [4]:
# loads the metadata, ms1 points from the specified zip file
def load_precursor_cuboid_zip_ms1(filename):
    temp_dir = tempfile.TemporaryDirectory().name
    with zipfile.ZipFile(filename, "r") as zf:
        zf.extractall(path=temp_dir)
        names = zf.namelist()
        with open('{}/{}'.format(temp_dir, names[0])) as json_file:
            metadata = json.load(json_file)
        ms1_df = pd.read_pickle('{}/{}'.format(temp_dir, names[1]))
    return (metadata, ms1_df)

In [19]:
precursor_id = 50040

In [20]:
precursor_metadata, ms1_points_df = load_precursor_cuboid_zip_ms1('/Users/darylwilding-mcbride/Downloads/experiments/test/precursor-cuboids/190719_Hela_Ecoli_1to1_01/190719_Hela_Ecoli_1to1_01-precursor-{}.zip'.format(precursor_id))

In [21]:
precursor_metadata

{'precursor_id': 50040,
 'window_mz_lower': 883.178214084962,
 'window_mz_upper': 887.578214084962,
 'wide_mz_lower': 882.1748590849619,
 'wide_mz_upper': 887.578214084962,
 'window_scan_width': 25,
 'fe_scan_lower': 462,
 'fe_scan_upper': 487,
 'wide_scan_lower': 437,
 'wide_scan_upper': 512,
 'wide_rt_lower': 798.8779865556857,
 'wide_rt_upper': 818.8779865556857,
 'wide_frame_lower': 7474,
 'wide_frame_upper': 7659,
 'number_of_windows': 1}

#### raw ms1 points

In [22]:
ms1_points_df.head()

   frame_id  frame_type          mz  scan  intensity  retention_time_secs
0      7474         0.0  882.385290   439         58            798.77859
1      7474         0.0  882.394606   445         52            798.77859
2      7474         0.0  882.394606   449         87            798.77859
3      7474         0.0  882.394606   450         27            798.77859
4      7474         0.0  882.408581   443         67            798.77859

In [23]:
fe_raw_points_df = ms1_points_df[(ms1_points_df.mz >= precursor_metadata['window_mz_lower']) & (ms1_points_df.mz <= precursor_metadata['window_mz_upper'])]

In [24]:
fe_raw_points_df.head()

    frame_id  frame_type          mz  scan  intensity  retention_time_secs
25      7474         0.0  883.363784   437         42            798.77859
26      7474         0.0  883.377767   443         48            798.77859
27      7474         0.0  883.396410   440         24            798.77859
28      7474         0.0  883.424376   438         70            798.77859
29      7474         0.0  883.895194   437         79            798.77859

#### derived feature attributes

In [27]:
feature_df = pd.read_pickle('/Users/darylwilding-mcbride/Downloads/experiments/test/features/190719_Hela_Ecoli_1to1_01/190719_Hela_Ecoli_1to1_01-features-precursor-{}.pkl'.format(precursor_id))

In [28]:
feature_df

,candidate_phr_error,charge,envelope,intensity,intensity_full_rt_extent,mono_adjusted,monoisotopic_mz,original_phr,original_phr_error,precursor_id,rt_apex,rt_curve_fit,rt_lower,rt_upper,scan_apex,scan_curve_fit,scan_lower,scan_upper,monoisotopic_mass
0,-0.927812,1,"((884.1343, 266.00), (885.1219, 343.00), (886....",609.000000,266,False,884.134332,1.289474,1.730932,50040,815.15,False,798.88,818.88,502.98,False,437.00,512.00,883.127032
1,3.384223,2,"((884.3782, 12968.00), (884.8770, 42128.00), (...",93516.000000,11680,False,884.375905,3.248612,2.410160,50040,808.65,True,798.22,819.09,472.40,True,422.62,522.18,1766.737210
2,-0.033795,2,"[(885.379556507406, 44118.199408121545), (885....",188643.199408,32219,True,885.381880,1.165151,0.220983,50040,808.93,True,805.24,812.62,469.11,True,421.92,516.29,1768.749160

#### fragment ions

In [29]:
fragment_ions_df = pd.read_pickle('/Users/darylwilding-mcbride/Downloads/experiments/test/fragment-ions/190719_Hela_Ecoli_1to1_01/190719_Hela_Ecoli_1to1_01-fragment-ions-precursor-{}.pkl'.format(precursor_id))