In [1]:
import pandas as pd
import math
import numpy as np
import random

In [67]:
l = []
for i in range(1000):
    l.append({'a':round(random.random()*100), 'b':round(random.random()*100), 'c':round(random.random()*100)})
df = pd.DataFrame(l)

In [68]:
A_BIN_SIZE = 2
B_BIN_SIZE = 2
C_BIN_SIZE = 5

In [69]:
a_bins = pd.interval_range(start=df.a.min(), end=df.a.max()+A_BIN_SIZE, freq=A_BIN_SIZE, closed='left')
b_bins = pd.interval_range(start=df.b.min(), end=df.b.max()+B_BIN_SIZE, freq=B_BIN_SIZE, closed='left')
c_bins = pd.interval_range(start=df.c.min(), end=df.c.max()+C_BIN_SIZE, freq=C_BIN_SIZE, closed='left')

In [70]:
a_bins

IntervalIndex([[0, 2), [2, 4), [4, 6), [6, 8), [8, 10) ... [92, 94), [94, 96), [96, 98), [98, 100), [100, 102)],
              closed='left',
              dtype='interval[int64]')

In [71]:
# assign raw points to their bins
df['a_bin'] = pd.cut(df.a, bins=a_bins)
df['b_bin'] = pd.cut(df.b, bins=b_bins)
df['c_bin'] = pd.cut(df.c, bins=c_bins)

In [72]:
df[df.a_bin.isna()]

Empty DataFrame
Columns: [a, b, c, a_bin, b_bin, c_bin]
Index: []

In [73]:
df[['a_bin','b_bin','c_bin']]

        a_bin      b_bin     c_bin
0    [94, 96)     [0, 2)  [85, 90)
1      [0, 2)   [88, 90)  [45, 50)
2    [28, 30)   [26, 28)  [40, 45)
3    [76, 78)   [92, 94)  [10, 15)
4    [74, 76)   [72, 74)  [60, 65)
..        ...        ...       ...
995  [88, 90)   [84, 86)  [20, 25)
996  [22, 24)     [6, 8)  [10, 15)
997  [20, 22)  [98, 100)    [0, 5)
998  [44, 46)   [82, 84)  [85, 90)
999  [52, 54)   [10, 12)  [55, 60)

[1000 rows x 3 columns]

In [74]:
df

      a   b   c     a_bin      b_bin     c_bin
0    95   0  88  [94, 96)     [0, 2)  [85, 90)
1     1  89  49    [0, 2)   [88, 90)  [45, 50)
2    28  26  41  [28, 30)   [26, 28)  [40, 45)
3    77  93  11  [76, 78)   [92, 94)  [10, 15)
4    75  73  63  [74, 76)   [72, 74)  [60, 65)
..   ..  ..  ..       ...        ...       ...
995  89  85  22  [88, 90)   [84, 86)  [20, 25)
996  23   7  14  [22, 24)     [6, 8)  [10, 15)
997  21  99   3  [20, 22)  [98, 100)    [0, 5)
998  44  82  89  [44, 46)   [82, 84)  [85, 90)
999  53  10  58  [52, 54)   [10, 12)  [55, 60)

[1000 rows x 6 columns]

In [78]:
df['bin_key'] = [(int(row.a_bin.mid),int(row.b_bin.mid),int(row.c_bin.mid)) for row in df.itertuples()]

In [79]:
df.sample(n=3)

      a   b   c     a_bin     b_bin     c_bin       bin_key
860  24   9  51  [24, 26)   [8, 10)  [50, 55)   (25, 9, 52)
562  11  57   0  [10, 12)  [56, 58)    [0, 5)   (11, 57, 2)
586  57  92  52  [56, 58)  [92, 94)  [50, 55)  (57, 93, 52)