In [98]:
import pandas as pd
import math
import numpy as np
import random

In [99]:
l = []
for i in range(1000):
    l.append({'a':round(random.random()*100), 'b':round(random.random()*100), 'c':round(random.random()*100)})
df = pd.DataFrame(l)

In [100]:
A_BIN_SIZE = 2
B_BIN_SIZE = 2
C_BIN_SIZE = 5

In [101]:
a_bins = pd.interval_range(start=df.a.min(), end=df.a.max()+A_BIN_SIZE, freq=A_BIN_SIZE, closed='left')
b_bins = pd.interval_range(start=df.b.min(), end=df.b.max()+B_BIN_SIZE, freq=B_BIN_SIZE, closed='left')
c_bins = pd.interval_range(start=df.c.min(), end=df.c.max()+C_BIN_SIZE, freq=C_BIN_SIZE, closed='left')

In [102]:
# assign raw points to their bins
df['a_bin'] = pd.cut(df.a, bins=a_bins)
df['b_bin'] = pd.cut(df.b, bins=b_bins)
df['c_bin'] = pd.cut(df.c, bins=c_bins)

In [103]:
df.sample(n=5)

      a   b   c     a_bin     b_bin     c_bin
258  22  17  86  [22, 24)  [16, 18)  [85, 90)
859  66  26  85  [66, 68)  [26, 28)  [85, 90)
358  15  22  23  [14, 16)  [22, 24)  [20, 25)
938  66  82   7  [66, 68)  [82, 84)   [5, 10)
512  47  18  36  [46, 48)  [18, 20)  [35, 40)

In [104]:
df[df.a_bin.isna()]

Empty DataFrame
Columns: [a, b, c, a_bin, b_bin, c_bin]
Index: []

In [105]:
df[df.a == 0]

     a   b   c   a_bin     b_bin     c_bin
92   0  61  49  [0, 2)  [60, 62)  [45, 50)
260  0  33  19  [0, 2)  [32, 34)  [15, 20)
268  0  22  94  [0, 2)  [22, 24)  [90, 95)
659  0  38  26  [0, 2)  [38, 40)  [25, 30)
864  0  86  77  [0, 2)  [86, 88)  [75, 80)
921  0  48  15  [0, 2)  [48, 50)  [15, 20)
964  0  37  62  [0, 2)  [36, 38)  [60, 65)

In [106]:
df[['a_bin','b_bin','c_bin']]

        a_bin     b_bin     c_bin
0    [48, 50)  [82, 84)  [40, 45)
1    [94, 96)    [0, 2)  [65, 70)
2    [20, 22)  [40, 42)  [75, 80)
3    [12, 14)  [30, 32)  [85, 90)
4    [86, 88)  [84, 86)   [5, 10)
..        ...       ...       ...
995  [58, 60)  [10, 12)  [20, 25)
996  [36, 38)  [14, 16)  [50, 55)
997  [20, 22)  [44, 46)  [90, 95)
998    [6, 8)  [28, 30)   [5, 10)
999  [30, 32)  [50, 52)  [25, 30)

[1000 rows x 3 columns]

In [107]:
df['bin_key'] = df.apply(lambda row: (row.a_bin,row.b_bin,row.c_bin), axis=1)

In [108]:
df.sample(n=3)

,a,b,c,a_bin,b_bin,c_bin,bin_key
191,56,98,19,"[56, 58)","[98, 100)","[15, 20)","([56, 58), [98, 100), [15, 20))"
886,33,18,24,"[32, 34)","[18, 20)","[20, 25)","([32, 34), [18, 20), [20, 25))"
787,44,84,88,"[44, 46)","[84, 86)","[85, 90)","([44, 46), [84, 86), [85, 90))"

In [68]:
(a_bin,b_bin,c_bin) = df.loc[2].bin_key

In [69]:
a_bin,b_bin,c_bin

(Interval(32.0, 34.0, closed='right'),
 Interval(52.0, 54.0, closed='right'),
 Interval(85.0, 90.0, closed='right'))

In [65]:
unique_bins = set(df.bin_key.unique())

In [67]:
df.loc[2].bin_key not in unique_bins

False

In [37]:
s = {3,4,5,6,7}

In [43]:
s.add(6)

In [58]:
s = set()

In [59]:
len(s)

0

In [61]:
s1 = {60,65,76}
s.update(s1)

In [62]:
s

{60, 65, 76}