In [2]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sys

In [3]:
df = pd.read_csv('/Users/darylwilding-mcbride/Downloads/txt/pasefMsmsScans.txt', sep='\t')

In [4]:
len(df)

486938

In [6]:
df.tail()

,Raw file,Frame,Precursor,IsolationMz,IsolationWidth,ScanNumBegin,ScanNumEnd,CollisionEnergy,Index
486933,HeLa_20KInt_2KIT_Slot1-46_01_1179,64620,238324,304.029311,2.0,772,797,31.92,486933
486934,HeLa_20KInt_2KIT_Slot1-46_01_1179,64621,238324,304.029311,2.0,772,797,31.92,486934
486935,HeLa_20KInt_2KIT_Slot1-46_01_1179,64675,238325,524.074231,2.0,558,583,36.96,486935
486936,HeLa_20KInt_2KIT_Slot1-46_01_1179,64676,238325,524.074231,2.0,558,583,36.96,486936
486937,HeLa_20KInt_2KIT_Slot1-46_01_1179,64677,238325,524.074231,2.0,558,583,36.96,486937

In [13]:
allPeptides_df = pd.read_csv('/Users/darylwilding-mcbride/Downloads/txt/allPeptides.txt', sep='\t')

In [14]:
allPeptides_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328862 entries, 0 to 328861
Data columns (total 24 columns):
Raw file                            328862 non-null object
Charge                              328862 non-null int64
m/z                                 328862 non-null float64
Mass                                328862 non-null float64
Resolution                          328478 non-null float64
Number of data points               328862 non-null int64
Number of frames                    328862 non-null int64
Number of isotopic peaks            328862 non-null int64
Isotope correlation                 328862 non-null float64
Mass fractional part                328862 non-null float64
Mass deficit                        328862 non-null float64
Retention time                      328862 non-null float64
Retention length                    328862 non-null float64
Retention length (FWHM)             328862 non-null float64
Min frame index                     328862 non-null int64
Max frame index                     328862 non-null int64
Ion mobility index                  328862 non-null int64
Ion mobility index length           328862 non-null int64
Ion mobility index length (FWHM)    328862 non-null int64
Intensity                           326207 non-null float64
Intensities                         0 non-null float64
Number of pasef MS/MS               328862 non-null int64
Pasef MS/MS IDs                     102081 non-null object
MS/MS scan number                   102081 non-null float64
dtypes: float64(12), int64(10), object(2)
memory usage: 60.2+ MB

In [30]:
# find the precursor IDs for the most intense feature
precursor_ids = allPeptides_df.iloc[allPeptides_df.Intensity.idxmax()]['Pasef MS/MS IDs'].split(';')

In [32]:
precursor_ids = [int(i) for i in precursor_ids]

In [33]:
precursor_ids

[320702,
 320713,
 320725,
 320875,
 320898,
 320909,
 321094,
 321332,
 321498,
 321511,
 321538,
 321560,
 321919,
 322153,
 322774,
 323007,
 323334,
 323347,
 323779,
 323793,
 328586]

In [34]:
feature_isolation_matches_df = pd.read_csv('/Users/darylwilding-mcbride/Downloads/HeLa_20KInt/HeLa_20KInt-feature-isolation-matches.csv')

In [35]:
feature_isolation_matches_df.head()

   feature_id  frame_id  precursor_id
0           1     37315        131271
1           1     37381        131594
2           2     10049         26579
3           2     10057         26603
4           2     10079         26683

In [44]:
# how many of these did I match to a feature?
for precursor_id in precursor_ids:
    matches = feature_isolation_matches_df[feature_isolation_matches_df.precursor_id == precursor_id]
    print(len(matches))

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [37]:
isolation_window_df = pd.read_csv("/Users/darylwilding-mcbride/Downloads/PasefFrameMsMsInfo.csv")

In [38]:
isolation_window_df.head()

,Frame,ScanNumBegin,ScanNumEnd,IsolationMz,IsolationWidth,CollisionEnergy,Precursor
0,3,507,532,742.744835,2.427448,36.96,1
1,3,549,574,709.235759,2.092358,36.96,2
2,3,602,627,594.235088,2.000000,36.96,3
3,3,643,668,503.527768,2.000000,36.96,4
4,3,684,709,552.063870,2.000000,31.92,5

In [39]:
isolation_window_df[isolation_window_df.Precursor==320702]

Empty DataFrame
Columns: [Frame, ScanNumBegin, ScanNumEnd, IsolationMz, IsolationWidth, CollisionEnergy, Precursor]
Index: []

In [40]:
len(isolation_window_df)

486938

In [41]:
isolation_window_df.Precursor.max()

238325

In [42]:
# there are NOT precursor IDs!

In [50]:
# find the mass for the most intense feature
mass = allPeptides_df.iloc[allPeptides_df.Intensity.idxmax()]['Mass']

In [51]:
mass

1789.8988

In [52]:
# find the RT for the most intense feature
retention_time = allPeptides_df.iloc[allPeptides_df.Intensity.idxmax()]['Retention time']

In [53]:
retention_time

4432.552

In [65]:
allPeptides_df.iloc[allPeptides_df.Intensity.idxmax()]

Raw file                                            HeLa_20KInt_2KIT_Slot1-46_01_1179
Charge                                                                              2
m/z                                                                           895.957
Mass                                                                           1789.9
Resolution                                                                    24866.3
Number of data points                                                          207657
Number of frames                                                                   86
Number of isotopic peaks                                                            6
Isotope correlation                                                           0.99299
Mass fractional part                                                         0.898847
Mass deficit                                                                0.0354935
Retention time                                                                4432.55
Retention length                                                              100.379
Retention length (FWHM)                                                        10.631
Min frame index                                                                  3735
Max frame index                                                                  3820
Ion mobility index                                                                363
Ion mobility index length                                                         486
Ion mobility index length (FWHM)                                                  111
Intensity                                                                  2.6707e+07
Intensities                                                                       NaN
Number of pasef MS/MS                                                              21
Pasef MS/MS IDs                     320702;320713;320725;320875;320898;320909;3210...
MS/MS scan number                                                               71215
Name: 273238, dtype: object

In [55]:
retention_length

100.37899999999999

In [57]:
mz = allPeptides_df.iloc[allPeptides_df.Intensity.idxmax()]['m/z']

In [58]:
mz

895.9567

In [59]:
# look for features detected in the same area
feature_list_df = pd.read_csv("/Users/darylwilding-mcbride/Downloads/HeLa_20KInt/HeLa_20KInt-feature-list.csv")

In [60]:
feature_list_df.head()

,feature_id,charge_state,monoisotopic_mass,feature_centroid_scan,feature_centroid_rt,feature_centroid_mz,feature_start_rt,feature_end_rt,feature_scan_lower,feature_scan_upper,...,base_peak_scan_lower,base_peak_scan_upper,base_peak_centroid_rt,base_peak_std_dev_rt,base_peak_rt_lower,base_peak_rt_upper,base_peak_centroid_mz,base_peak_std_dev_mz,base_peak_mz_lower,base_peak_mz_upper
0,1,3,1960.915588,680.366484,4013.127018,654.717577,4005.957188,4021.318195,668,688,...,668,688,4013.130741,3.845270,4005.957188,4021.318195,654.645757,0.002612,654.619261,654.675743
1,2,2,1247.602054,574.224714,1085.766969,625.127677,1075.177570,1097.628037,565,585,...,565,585,1085.746282,2.179954,1075.177570,1097.628037,624.809083,0.002324,624.778556,624.833736
2,3,2,1789.900380,379.472823,4433.432999,896.216859,4421.919624,4439.635599,367,387,...,367,387,4436.255100,2.552869,4421.919624,4439.635599,896.459161,0.003005,896.413464,896.498444
3,4,2,1405.719333,527.432220,4034.358108,704.126734,4022.496117,4044.962866,519,539,...,519,539,4034.498268,3.537136,4024.859526,4044.962866,703.867085,0.005701,703.834050,703.900983
4,5,2,2214.082282,231.310785,5002.872698,1108.270682,4991.075059,5008.786578,221,241,...,221,241,5002.369948,1.875718,4991.075059,5008.786578,1108.049241,0.003916,1107.997794,1108.087022

In [64]:
feature_list_df[(feature_list_df.feature_centroid_rt >= retention_time-1) & (feature_list_df.feature_centroid_rt <= retention_time+1) & (feature_list_df.feature_centroid_mz >= mz-1) & (feature_list_df.feature_centroid_mz <= mz+1) & (feature_list_df.feature_centroid_scan >= 250) & (feature_list_df.feature_centroid_scan <= 550)]

,feature_id,charge_state,monoisotopic_mass,feature_centroid_scan,feature_centroid_rt,feature_centroid_mz,feature_start_rt,feature_end_rt,feature_scan_lower,feature_scan_upper,...,base_peak_scan_lower,base_peak_scan_upper,base_peak_centroid_rt,base_peak_std_dev_rt,base_peak_rt_lower,base_peak_rt_upper,base_peak_centroid_mz,base_peak_std_dev_mz,base_peak_mz_lower,base_peak_mz_upper
2,3,2,1789.900380,379.472823,4433.432999,896.216859,4421.919624,4439.635599,367,387,...,367,387,4436.255100,2.552869,4421.919624,4439.635599,896.459161,0.003005,896.413464,896.498444
14,15,2,1789.899107,363.909317,4432.183457,896.432413,4424.280661,4439.635599,357,377,...,357,377,4434.624981,3.522225,4424.280661,4439.635599,895.956215,0.002971,895.917833,895.993349
4917,4930,2,1790.906260,399.212910,4433.506117,896.588565,4429.005871,4441.995797,394,406,...,394,406,4434.433888,4.424939,4429.005871,4441.995797,896.459861,0.004491,896.418186,896.503165
166576,168570,2,1789.775696,414.004570,4433.363118,896.262751,4426.643707,4439.635599,405,425,...,406,425,4433.336186,3.484121,4426.643707,4439.635599,896.395499,0.017288,896.328489,896.418186

In [66]:
feature_isotopes_df = pd.read_csv("/Users/darylwilding-mcbride/Downloads/HeLa_20KInt/HeLa_20KInt-feature-isotopes.csv")

In [68]:
feature_isotopes_df[feature_isotopes_df.feature_id==3]

,feature_id,feature_region_peak_id,centroid_scan,centroid_rt,centroid_mz,peak_summed_intensity
6,3,2,378.878148,4430.610825,895.957364,1997976
7,3,1,379.899082,4436.255100,896.459161,2002597
8,3,3,387.000000,4433.142833,896.964646,44442