In [1]:
import pandas as pd
import numpy as np
import sys
import matplotlib.pyplot as plt

In [29]:
# ms2 features prior to de-dup
df = pd.read_pickle('/Users/darylwilding-mcbride/Downloads/ms1_df.pkl')

In [30]:
df.head()

,monoisotopic_mz,charge,intensity,scan_apex,scan_curve_fit,scan_lower,scan_upper,rt_apex,rt_curve_fit,precursor_id,ms2_frames
0,984.896596,1,306,274.873399,True,258.918711,290.828087,3014.22,True,92541,"[28077, 28078, 28079, 28081, 28082]"
1,984.411713,2,7810,277.827167,True,262.566856,293.087477,3015.40,True,92541,"[28077, 28078, 28079, 28081, 28082]"
2,984.426200,2,1884,277.728795,True,260.069618,295.387972,3014.22,True,92541,"[28077, 28078, 28079, 28081, 28082]"
0,882.442016,1,421,356.231153,True,337.288853,375.173454,3015.40,True,92542,"[28077, 28078]"
1,881.432308,2,954,363.643638,True,348.494314,378.792962,3016.58,True,92542,"[28077, 28078]"

In [31]:
len(df[df.scan_curve_fit]) / len(df)

0.7922038980509745

In [32]:
len(df[df.rt_curve_fit]) / len(df)

0.9830584707646177

In [36]:
RT_LOWER = 3010
RT_UPPER = 3020
SCAN_LOWER = 267
SCAN_UPPER = 287

In [37]:
# calculate the distance in m/z between all features
constrained_df = df[(df.rt_apex >= RT_LOWER) & (df.rt_apex <= RT_UPPER) & (df.scan_apex >= SCAN_LOWER) & (df.scan_apex <= SCAN_UPPER)]

In [38]:
len(constrained_df)

4