In [1]:
import pandas as pd
import math
import numpy as np
import random

In [2]:
l = []
for i in range(1000):
    l.append({'a':round(random.random()*100), 'b':round(random.random()*100), 'c':round(random.random()*100)})
df = pd.DataFrame(l)

In [3]:
A_BIN_SIZE = 2
B_BIN_SIZE = 2
C_BIN_SIZE = 5

In [4]:
a_bins = pd.interval_range(start=df.a.min(), end=df.a.max()+A_BIN_SIZE, freq=A_BIN_SIZE, closed='left')
b_bins = pd.interval_range(start=df.b.min(), end=df.b.max()+B_BIN_SIZE, freq=B_BIN_SIZE, closed='left')
c_bins = pd.interval_range(start=df.c.min(), end=df.c.max()+C_BIN_SIZE, freq=C_BIN_SIZE, closed='left')

In [5]:
a_bins

IntervalIndex([[0, 2), [2, 4), [4, 6), [6, 8), [8, 10) ... [92, 94), [94, 96), [96, 98), [98, 100), [100, 102)], dtype='interval[int64, left]')

In [6]:
# assign raw points to their bins
df['a_bin'] = pd.cut(df.a, bins=a_bins)
df['b_bin'] = pd.cut(df.b, bins=b_bins)
df['c_bin'] = pd.cut(df.c, bins=c_bins)

In [16]:
binned = pd.cut(df.a, bins=a_bins)

In [25]:
binned.apply(lambda x:x.mid)

0      71.0
1      97.0
2      57.0
3      67.0
4      61.0
       ...
995    71.0
996    95.0
997    47.0
998     5.0
999    99.0
Name: a, Length: 1000, dtype: category
Categories (51, float64): [1.0 < 3.0 < 5.0 < 7.0 ... 95.0 < 97.0 < 99.0 < 101.0]

In [72]:
df[df.a_bin.isna()]

Empty DataFrame
Columns: [a, b, c, a_bin, b_bin, c_bin]
Index: []

In [27]:
df[['a_bin','b_bin','c_bin']]

         a_bin      b_bin     c_bin
0     [70, 72)   [18, 20)  [10, 15)
1     [96, 98)   [96, 98)  [50, 55)
2     [56, 58)   [64, 66)  [40, 45)
3     [66, 68)   [52, 54)  [30, 35)
4     [60, 62)   [32, 34)  [10, 15)
..         ...        ...       ...
995   [70, 72)   [20, 22)  [55, 60)
996   [94, 96)   [96, 98)  [35, 40)
997   [46, 48)  [98, 100)  [90, 95)
998     [4, 6)   [70, 72)  [90, 95)
999  [98, 100)   [74, 76)  [50, 55)

[1000 rows x 3 columns]

In [78]:
df['a_bin_mid'] = df.a_bin.apply(lambda x:x.mid).astype(np.float32)
df['b_bin_mid'] = df.b_bin.apply(lambda x:x.mid).astype(float)
df['c_bin_mid'] = df.c_bin.apply(lambda x:x.mid).astype(float)

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   a          1000 non-null   int64
 1   b          1000 non-null   int64
 2   c          1000 non-null   int64
 3   a_bin      1000 non-null   category
 4   b_bin      1000 non-null   category
 5   c_bin      1000 non-null   category
 6   a_bin_mid  1000 non-null   float32
 7   b_bin_mid  1000 non-null   float64
 8   c_bin_mid  1000 non-null   float64
 9   bin_key    1000 non-null   int64
dtypes: category(3), float32(1), float64(2), int64(4)
memory usage: 62.5 KB

In [72]:
type(df.a_bin_mid.iloc[9])

numpy.float64

In [73]:
df['bin_key'] = df.apply(lambda x:hash((x.a_bin_mid, x.b_bin_mid, x.c_bin_mid)), axis=1)

In [74]:
df

,a,b,c,a_bin,b_bin,c_bin,a_bin_mid,b_bin_mid,c_bin_mid,bin_key
0,71,19,13,"[70, 72)","[18, 20)","[10, 15)",71.0,19.0,12.5,-6176169628207581156
1,97,96,54,"[96, 98)","[96, 98)","[50, 55)",97.0,97.0,52.5,7707836387375610993
2,56,64,41,"[56, 58)","[64, 66)","[40, 45)",57.0,65.0,42.5,-6159505478206468508
3,66,53,31,"[66, 68)","[52, 54)","[30, 35)",67.0,53.0,32.5,4157568471029409328
4,61,32,10,"[60, 62)","[32, 34)","[10, 15)",61.0,33.0,12.5,-9199091468982499464
...,...,...,...,...,...,...,...,...,...,...
995,71,20,55,"[70, 72)","[20, 22)","[55, 60)",71.0,21.0,57.5,-2077669877252040639
996,95,96,37,"[94, 96)","[96, 98)","[35, 40)",95.0,97.0,37.5,-6642752408388995369
997,46,99,91,"[46, 48)","[98, 100)","[90, 95)",47.0,99.0,92.5,-2752970520837111548
998,5,71,93,"[4, 6)","[70, 72)","[90, 95)",5.0,71.0,92.5,2209907495770019841
999,98,75,52,"[98, 100)","[74, 76)","[50, 55)",99.0,75.0,52.5,3034544203867993928

In [75]:
df.a_bin_mid

0      71.0
1      97.0
2      57.0
3      67.0
4      61.0
       ...
995    71.0
996    95.0
997    47.0
998     5.0
999    99.0
Name: a_bin_mid, Length: 1000, dtype: float64

In [76]:
df[(df.a_bin_mid < 100.)]

,a,b,c,a_bin,b_bin,c_bin,a_bin_mid,b_bin_mid,c_bin_mid,bin_key
0,71,19,13,"[70, 72)","[18, 20)","[10, 15)",71.0,19.0,12.5,-6176169628207581156
1,97,96,54,"[96, 98)","[96, 98)","[50, 55)",97.0,97.0,52.5,7707836387375610993
2,56,64,41,"[56, 58)","[64, 66)","[40, 45)",57.0,65.0,42.5,-6159505478206468508
3,66,53,31,"[66, 68)","[52, 54)","[30, 35)",67.0,53.0,32.5,4157568471029409328
4,61,32,10,"[60, 62)","[32, 34)","[10, 15)",61.0,33.0,12.5,-9199091468982499464
...,...,...,...,...,...,...,...,...,...,...
995,71,20,55,"[70, 72)","[20, 22)","[55, 60)",71.0,21.0,57.5,-2077669877252040639
996,95,96,37,"[94, 96)","[96, 98)","[35, 40)",95.0,97.0,37.5,-6642752408388995369
997,46,99,91,"[46, 48)","[98, 100)","[90, 95)",47.0,99.0,92.5,-2752970520837111548
998,5,71,93,"[4, 6)","[70, 72)","[90, 95)",5.0,71.0,92.5,2209907495770019841
999,98,75,52,"[98, 100)","[74, 76)","[50, 55)",99.0,75.0,52.5,3034544203867993928

In [115]:
df_a = df.groupby(['a'], as_index=False, sort=False).agg({'b': ['sum','count','mean'],'c': ['first']})
df_a

      a    b                      c
         sum count       mean first
0    71  121     6  20.166667    13
1    97  837    15  55.800000    54
2    56  428     8  53.500000    41
3    66  460     7  65.714286    31
4    61  287     9  31.888889    10
..   ..  ...   ...        ...   ...
96   83  258     7  36.857143    70
97   76  224     4  56.000000    93
98   68  395     7  56.428571    51
99    1  118     3  39.333333    74
100  51  349     6  58.166667    29

[101 rows x 5 columns]

In [116]:
df_a.columns = df_a.columns.to_flat_index()
df_a

     (a, )  (b, sum)  (b, count)  (b, mean)  (c, first)
0       71       121           6  20.166667          13
1       97       837          15  55.800000          54
2       56       428           8  53.500000          41
3       66       460           7  65.714286          31
4       61       287           9  31.888889          10
..     ...       ...         ...        ...         ...
96      83       258           7  36.857143          70
97      76       224           4  56.000000          93
98      68       395           7  56.428571          51
99       1       118           3  39.333333          74
100     51       349           6  58.166667          29

[101 rows x 5 columns]

In [119]:
df_a.rename(columns={('a',''):'a',('b','sum'):'b_sum'}, inplace=True)

In [120]:
df_a

      a  b_sum  (b, count)  (b, mean)  (c, first)
0    71    121           6  20.166667          13
1    97    837          15  55.800000          54
2    56    428           8  53.500000          41
3    66    460           7  65.714286          31
4    61    287           9  31.888889          10
..   ..    ...         ...        ...         ...
96   83    258           7  36.857143          70
97   76    224           4  56.000000          93
98   68    395           7  56.428571          51
99    1    118           3  39.333333          74
100  51    349           6  58.166667          29

[101 rows x 5 columns]